.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    /*display: block;*/
    background: none;
    color:#fff;
}

/* .switch::after{
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
} */

/* @media (prefers-color-scheme: dark) {
    body{
        background-color: #2f2f2f;
    }
    h1{
        color: #868686;
    }
    button{
        background-color: #868686;
    }
  } */