body{
  transition: background 0.3s linear;
}

.switch{
  position: absolute;
  top: 22px;
  right: 35px;
}

.label {
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.ball {
  background-color: #e7e7e7;
  position: absolute;
  border-radius: 50px;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-sun {
  color: #ffa704;
}

.fa-moon {
  color: #ffa704;
}